.ondine {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.hero-section {
  position: relative;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  &__violin {
    position: absolute;
    right: -30%;
    transform: rotate(30deg);
    max-width: 70vw;
    z-index: 100001;
    pointer-events: none;
  }
  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    display: flex;
    font-family: "Nunito", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 200;

    span {
      font-weight: 800;
    }
    font-size: 6rem;
    color: var(--black);
  }
  &__subtitle {
    color: var(--black);
    font-size: 3rem;
    font-weight: 300;
  }
  &__ctas {
    display: flex;
    a {
      padding: 1rem 2rem;
      border: 2px solid var(--black);
      border-radius: 4px;
      font-weight: 700;
      font-size: 1.5rem;
      &.contact_cta {
        background: linear-gradient(
          0deg,
          var(--white) 50%,
          var(--primary_blue) 50%
        );
        background-size: 200% 200%;
        background-position: 0 0%;

        color: var(--white);
        text-shadow: 1px 1px 1px var(--black);
        transition: all 0.2s linear;
        &:hover {
          background-position: 0% 100%;
          color: var(--primary_blue);
          box-shadow: 1px 1px 10px var(--primary_blue);
          text-shadow: none;
        }
      }
    }
    justify-content: space-between;
  }
  &__list {
    background: var(--white);
    &__item {
      z-index: 10;
      // background: var(--white);
      color: #8c8c8c;
      font-weight: 300;
      font-family: "Varela Round";
      font-size: 1.5rem;
      display: flex;
      &--selected {
        border-bottom: 5px solid var(--primary_blue);
        transform: translateY(-10px);
        list-style-type: none;
      }
    }
    &__icon {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
  }
}

//3094c6
