.find-us {
  width: 100vw;
  background-color: var(--white);
}
.map_container {
  width: 100%;
  height: 100%;
  transform: scale(3);
}

@media (max-width: 576px) {
  .address {
    font-size: 2rem;
  }
}
