@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Varela+Round&display=swap");

html {
  font-size: 8px;
  scroll-behavior: smooth;
}
main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: 700;
}

.blog {
  background-color: var(--primary_blue);
  & p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 5rem;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 10px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
